<div class="details-wrapper">
    <div class="job-details">
        <div class="job-details-share">
            <h2>Job Details</h2>
            <div class="save-share-job">
                <div class="save-job">
                    <svg-icon src="../../assets/Icons/save.svg" [svgStyle]="{ 'width.px':16,'height.px':20 }">
                    </svg-icon>
                    <p>Save to my list</p>
                </div>
                <div class="share-job">
                    <svg-icon src="../../assets/Icons/share.svg" [svgStyle]="{ 'width.px':18,'height.px':20 }">
                    </svg-icon>
                    <p>Share</p>
                </div>
            </div>
        </div>
        <app-apply-job></app-apply-job>
        <div class="job-title-wrapper">
            <div class="job-title">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint laborum ducimus dignissimos deleniti
                    ipsa, minima doloremque suscipit repellendus eligendi in dolor provident eaque quisquam, mollitia
                    veniam
                    nulla? Tempore eligendi cupiditate hic, consequatur magnam iure id asperiores adipisci sequi qui
                    mollitia recusandae inventore! Ut accusamus cupiditate aspernatur amet voluptate harum porro.</h2>
            </div>
            <div class="job-salary">
                <p>€ 54 000—60 000</p>
                <p>Brutto,per year</p>
            </div>

        </div>
        <div class="job-post">
            <p> posted:</p>
        </div>
        <div class="job-responsibilities">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate modi aperiam voluptates earum! Illum
                praesentium nesciunt provident dolores dolore animi quisquam possimus laboriosam inventore. Voluptates
                repellendus perferendis magni, aperiam, cupiditate voluptas illum voluptatum eius consequuntur odit
                dolores ullam ratione officiis placeat. Quas quaerat dolores mollitia nisi non incidunt, velit alias?
            </p>
        </div>
        <div class="job-compensation"></div>
        <!-- <app-apply-job></app-apply-job> -->
        <div class="job-addiditional info"></div>
        <div class="job-attached-info"></div>
        <!-- <button class="return-job-board"></button> -->
    </div>
    <div class="job-contact"></div>
</div>