.job-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 29px 9px 15px 9px;
}

.wrapper-container {
    background-color: #F5F5F5;
}

.job {
    display: flex;
    margin-bottom: 8px;
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08),
        0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);

    font-size: 16px;
    line-height: 25px;
    color: #878d9d;
    font-family: "ProximaNova-Regular";

    &:hover {
        cursor: pointer;
    }

    &__image-container {
        width: 85px;

        .job__image {
            object-fit: cover;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            max-width: none;
        }
    }

    &__content {
        display: flex;
        margin-left: 26px;
        width: 100%;
    }

    &__description {
        width: 100%;
        margin-right: 32px;
    }

    &__info {
        display: flex;
        flex-shrink: 0;
    }

    &__title {
        font-size: 20px;
        line-height: 25px;
        font-family: "ProximaNova-Bold", sans-serif;
        letter-spacing: -0.625px;
        color: #3a4562;
        margin-bottom: 8px;
    }

    &__department {
        margin-bottom: 8px;
        letter-spacing: 0.23619px;
        font-family: "ProximaNova-Regular";
        font-size: 16px;
        line-height: 25px;
    }

    &__location {
        display: flex;

        &-marker {
            display: flex;
        }

        &-address {
            margin-left: 8px;
            font-family: "ProximaNova-Regular";
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.23619px;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        min-width: 96px;


    }

    &__rating-marker-mobile {
        display: none;
    }

    &__select {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 49px auto;
}

@media(max-width:767px) {
    .job-wrapper {
        background-color: #E6E9F2;
        margin: 9px 9x 9px 26px;
    }

    .job {
        background-color: #F5F5F5;
        width: 100%;
        padding: 13px 16px;

        &__image-container {
            width: 66px;
            padding-top: 30px;

            .job__image {
                object-fit: fill;
                width: 66px;
                height: 66px;
                border-radius: 50%;
                max-width: none;
            }
        }

        &__title {
            font-family: "ProximaNova-Regular";
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-left: 19px;
        }

        &__save {
            display: none;
        }

        &__info {
            order: -1;
        }

        &__rating {
            min-width: 54px;
        }

        &__rating-marker {
            display: none;
        }

        &__rating-marker-mobile {
            display: block;
        }

        &__info {
            display: flex;
            justify-content: space-between;
        }


    }

    .pagination-container {

        .page-item:nth-child(2) {
            padding-left: 42px;
        }

        .page-item:nth-last-of-type(2) {
            padding-right: 42px;
        }

        .page-item:last-child {
            display: none;
        }

        .page-item:first-child {
            display: none;
        }
    }




}