<div class="wrapper-container">
  <div class="job-wrapper">
    <div class="job" *ngFor="let data of jobs | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i"
      [routerLink]="['/details', data.id]">
      <div class="job__image-container">
        <img class="job__image" [src]="data.pictures[0] + '?q=' + i + '-'" />
      </div>

      <div class="job__content">
        <div class="job__description">
          <h2 class="job__title">{{ data.title }}</h2>
          <p class="job__department">Department Name * {{ data.name }}</p>
          <div class="job__location">
            <svg-icon class="job__location-marker" src="/Artem-Azarov-test-task-Jobs-Angular/assets/icons/location-marker.svg"
              [svgStyle]="{ 'width.px': 13, 'height.px': 18, fill: '#878D9D' }"></svg-icon>
            <p class="job__location-address">{{ data.address }}</p>
          </div>
        </div>

        <div class="job__info">
          <div class="job__rating">
            <svg-icon *ngFor="let rating of data.rating| rating" class="job__rating-marker"
              src="/Artem-Azarov-test-task-Jobs-Angular/assets/icons/rating.svg" [svgStyle]="{ 'width.px': 19, 'height.px': 18 }">{{rating}}
            </svg-icon>
          </div>
          <div class="job__select">
            <button class="job__save" (click)="saveJob($event,data.id)">
              <svg-icon src="/Artem-Azarov-test-task-Jobs-Angular/assets/icons/save.svg" [svgStyle]="{ 'width.px': 16, 'height.px': 20 }">
              </svg-icon>
            </button>
            <div class="job__post">
              <p>Posted {{ data.createdAt | dateAgo }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-container">
      <ngb-pagination class="pagination-wrapper" [(page)]="page" [pageSize]="pageSize" [rotate]="true"
        [collectionSize]="jobs.length" [maxSize]="5">
      </ngb-pagination>
    </div>
  </div>

</div>