* p {
    font-size: 16px;
    line-height: 25px;
    color: #878D9D;
    font-family: "ProximaNova-Regular";

}

h2 {
    font-size: 20px;
    line-height: 25px;
    font-family: "ProximaNova-Bold", sans-serif;
}

.job-wrapper {
    width: 1400px;
    left: 260px;
    top: 29px;
    position: absolute;

    .job {
        display: flex;
        flex-direction: row;
        width: 1400px;
        margin-bottom: 10px;
        padding: 24px 16px;
        background-color: #FFFFFF;
        box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08),
            0px 2px 1px -1px rgba(0, 0, 0, 0.04),
            0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        cursor: pointer;

        .job__image {
            width: 85px;
            height: 85px;

            img {
                width: inherit;
                height: inherit;
                border-radius: 50%;
            }
        }
    }


}

.job__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 26px;

    .job__title {
        width: 959px;

        .job__address {
            display: flex;

            p {
                margin-left: 8px;
            }
        }

        h2 {
            color: #3A4562;
        }
    }

    .job__rating {
        margin-left: 26px;
    }


    .job__select {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .job__post {
            margin-top: 70px;
        }

    }
}

.list {
    display: flex;
    justify-content: center;

    .pagination {
        display: flex;
        justify-content: center;
        width: 515px;
        padding: 15px 10px 15px 10px;
        border-radius: 10px;
        background: #FFFFFF;
        box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08),
            0px 2px 1px -1px rgba(0, 0, 0, 0.04),
            0px 1px 3px rgba(0, 0, 0, 0.12);

        li {
            margin-right: 25px;



            &:first-child {
                border-right: 1.3px solid #DEE3EF;
                padding-right: 31px;

                &::before {
                    display: inline-block;
                    content: '❯';
                    width: 18px;
                    height: 18px;
                    color: #7D859C;
                    transform: rotate(180deg);
                }
            }

            &:last-child {
                border-left: 1.3px solid #DEE3EF;
                padding-left: 31px;

                &::after {
                    display: inline-block;
                    content: '❯';
                    width: 18px;
                    height: 18px;
                    color: #7D859C;
                }
            }
        }

        li a {
            text-decoration: none;
            color: #3A4562;
            font-size: 21px;
            line-height: 25px;
            font-family: "ProximaNova-Bold";

            &:active {
                border-bottom: 2.6px solid #5876C5;
                color: #5876C5;
            }

        }

    }
}