.apply {
    width: 127px;
    height: 52px;
    padding: 18px, 30px, 18px, 30px;
    border-radius: 8px;
    background-color: #384564;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 12px;
    line-height: 16px;
    font-family: "ProximaNova-Semibold";

}