<div class="details-wrapper">
    <div class="details" *ngIf="job">
        <div class="details__job">
            <div class="details__share">
                <h2>Job Details</h2>
                <div class="details__target">
                    <div class="details__save">
                        <button class="details__save--button" (click)="saveJob($event)">
                            <svg-icon src="/assets/icons/save.svg" [svgStyle]="{ 'width.px': 16, 'height.px': 20 }">
                            </svg-icon>
                        </button>
                        <button class="details__save--button-mobile" (click)="saveJob($event)">
                            <svg-icon src="/assets/icons/save-star.svg"
                                [svgStyle]="{ 'width.px': 21, 'height.px': 20 }"> </svg-icon>
                        </button>
                        <p>Save to my list</p>
                    </div>
                    <div class="details__divide">
                        <button class="details__divide--button" (click)="saveJob($event)">
                            <svg-icon src="/assets/icons/share.svg" [svgStyle]="{ 'width.px': 16, 'height.px': 20 }">
                            </svg-icon>
                        </button>
                        <p>Share</p>
                    </div>
                </div>
            </div>

            <app-apply-job class="apply__first-button"></app-apply-job>

            <div class="title">
                <div class="title__job">
                    <p class="title__job-description">{{ job.title }}</p>
                </div>
                <div class="title__salary">
                    <div class="title__post-mobile">
                        <p>Posted {{ job.createdAt | dateAgo }}</p>
                    </div>
                    <div class="title__salary-total">
                        <h3 class="title__salary-brutto">{{ job.salary }}</h3>
                        <p>Brutto, per year</p>
                    </div>
                </div>
            </div>

            <div class="title-post">
                <p>Posted {{ job.createdAt | dateAgo }}</p>
            </div>

            <div class="description">
                <div class="description__job">
                    <p [innerText]="job.description"></p>
                </div>
            </div>

            <app-apply-job class="apply__second-button"></app-apply-job>

            <div class="addiditional-wrapper">
                <div class="addiditional-container">
                    <div class="addiditional">
                        <h2>Addiditional Info</h2>
                    </div>
                    <h4>Employment Type</h4>
                    <div class="type">
                        <ng-container *ngFor="let type of job.employment_type | keyvalue">
                            <span class="label">{{ type.value }}</span>
                        </ng-container>
                    </div>
                    <h4>Benefits</h4>
                    <div class="benefits">
                        <ng-container *ngFor="let benefit of job.benefits | keyvalue">
                            <span class="label label--warning">{{ benefit.value }}</span>
                        </ng-container>
                    </div>
                </div>
                <div class="attached-container">
                    <h2>Attahced images</h2>
                    <div class="picture">
                        <div class="picture__job" *ngFor="let image of job.pictures; index as i">
                            <img class="picture__job-image" [src]="image + '?q=' + i" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="return-container">
                <button class="return-container__button" routerLink="/">RETURN TO A JOB BOARD</button>
            </div>
        </div>

        <div class="contact-wrapper">
            <div class="contact-header">
                <h2>Contacts</h2>
            </div>

            <div class="contact">
                <div class="contact__job">
                    <div class="contact__info-wrapper">
                        <div class="contact__info">
                            <h3>Department name.</h3>
                            <div class="contact__info-name">{{ job.name }}.</div>
                            <div class="contact__info-address">
                                <svg-icon class="job__location-marker" src="/assets/icons/location-marker.svg"
                                    [svgStyle]="{ 'width.px': 13, 'height.px': 18, fill: '#878D9D' }"></svg-icon>
                                {{ job.address }}
                            </div>
                            <div class="contact__info-phone-email">
                                {{ job.phone }}
                            </div>
                            <div class="contact__info-email">
                                {{ job.email }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact__map">
                    <img class="map" [src]="getMapUrl" alt="Map with address work">  <!-- Work with Api Key Google -->
                </div>
            </div>
        </div>
    </div>
</div>