<div class="details">
    <div class="details__job">
        <div class="details__share">
            <h2>Job Details</h2>
            <div class="details__target">
                <div class="details__save">
                    <button class="details__save--button" (click)="saveJob($event, 1)">
                        <svg-icon src="/assets/Icons/save.svg" [svgStyle]="{ 'width.px': 16, 'height.px': 20 }">
                        </svg-icon>
                    </button>
                    <p>Save to my list</p>
                </div>
                <div class="details__divide">
                    <button class="details__divide--button" (click)="saveJob($event, 1)">
                        <svg-icon src="/assets/Icons/share.svg" [svgStyle]="{ 'width.px': 16, 'height.px': 20 }">
                        </svg-icon>
                    </button>
                    <p>Share</p>
                </div>
            </div>
        </div>
        <app-apply-job></app-apply-job>
        <div class="title">
            <div class="title__job">
                <p>{{job?.title}}</p>
            </div>
            <div class="title__salary">
                <h3>{{job?.salary}}</h3>
                <p>Brutto,per year</p>
            </div>

        </div>
        <div class="title__post">
            <p>{{job?.createdAt| date}}</p>
        </div>
        <div class="description">
            <div class="description__job">
                <p> ??? ??? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, tempore dolorem. Cum,
                    sit
                    doloremque! Ullam ducimus aperiam in nesciunt illo recusandae ab ipsa atque aliquam? Libero aliquam
                    laborum blanditiis architecto qui ex laudantium eos, aperiam voluptate ea adipisci fugit amet.</p>
            </div>
            <div class="description__responsibilities">
                <h3>Responsibilities</h3>
                <p>{{job?.description}}</p>
            </div>
            <div class="description__compensation">
                <h3>Compensation & Benefits</h3>
                <ul class="description__compensation--list">
                    <p> Our physicians enjoy a wide range of benefits, including:</p>
                    <ng-container *ngFor="let optiions of job?.benefits |keyvalue ">
                        <li>{{optiions.value}}</li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <app-apply-job></app-apply-job>
        <div class="addiditional">
            <h2>Addiditional Info</h2>
        </div>
        <h4>Employment Type</h4>
        <div class="type">
            <ng-container *ngFor="let type of job?.employment_type|keyvalue">
                <span class="type__options">{{type.value}}</span>
            </ng-container>
        </div>
        <h4>Benefits</h4>
        <div class="benefits">
            <ng-container *ngFor="let benefit of job?.benefits|keyvalue">
                <span class="benefits__options">{{benefit.value}}</span>
            </ng-container>
        </div>
        <div class="attached">
            <h2>Attahced images</h2>
        </div>
        <div class="picture">
            <div class="picture__job" *ngFor="let image of job?.pictures|keyvalue">
                <img [src]="image.value">
            </div>
        </div>

        <div class="return">
            <button class="return__board" [routerLink]="['/']">
                RETURN TO A JOB BOARD
            </button>
        </div>
    </div>
    <div class="contact">
        <div class="contact__job">
            <div class="contact__info"></div>
            <p>1</p>
            <p>2</p>
        </div>
        <div class="contact__map"></div>
    </div>
</div>