@font-face {
    font-family: "ProximaNova-Regular";
    src: local("Proxima"), url(../../../../assets/fonts/ProximaNova-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: local("Proxima"), url(../../../../assets/fonts/ProximaNova-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: local("Proxima"), url(../../../../assets/fonts/ProximaNova-Semibold.ttf) format("truetype");
}

*p,
li {
    color: #3A4562;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto';
}

*h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #3A4562;
    font-family: 'ProximaNova-Bold';
}

*h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #3A4562;
    font-family: 'ProximaNova-Bold';
}

*h4 {
    color: #3A4562;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto';
}

.details {
    display: flex;

    .details__job {
        width: 774px;
        margin-left: 347px;
    }
}

.details__share {
    display: flex;
    width: 723px;
    height: 44px;
    border-bottom: 1px solid rgba(58, 69, 98, 0.13); //?сделал прозрачность бордера так, возможно не верно
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .details__target {
        //? лучше ничего не придумал, хотя ты забракуешь полюбому))
        display: flex;

        .details__save {
            display: flex;
            margin-right: 30px;

            p {
                padding-left: 15px;
            }
        }

        .details__divide {
            display: flex;

            p {
                padding-left: 15px;
            }
        }
    }
}



.title {
    display: flex;
    justify-content: space-between;
    width: 723px;
    padding-top: 32px;


    .title__job {
        width: 501px;

        p {
            font-size: 24px;
            line-height: 30px;
            font-family: "ProximaNova-Bold";
        }
    }
}

.title__post {
    p {
        color: #878D9D;
        opacity: 0.4;
        // color: rgba(56, 65, 93, 0.355988);
    }
}


.description {
    width: 721px;

    .description__responsibilities {
        margin-top: 20px;
    }

    .description__compensation {
        margin-top: 20px;

        .description__compensation--list li {
            list-style: none;

            &::before {
                content: url('/assets/Icons/square.svg');
                //?position relative для вынесения за пределы блока
            }

            &:last-child {
                margin-bottom: 20px; //? не смогу высчитать расстояние
            }

        }

    }
}

.addiditional {
    margin-top: 87px;
}

.job-attached-info {
    margin-top: 87px;
}

.type {
    display: flex;

    .type__options {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 222px;
        height: 49px;
        background: rgba(161, 177, 219, 0.317343); //!
        // background: #a1b1db;
        // opacity: 0.3;
        border-radius: 8px;
        color: #55699E;
        font-size: 16px;
        line-height: 16px;
        border: 1px solid rgba(85, 105, 158, 0.3); //!
        margin: 10px 8px 0 0;
        cursor: pointer;
    }

}

.benefits {
    display: flex;

    .benefits__options {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 222px;
        height: 49px;
        background: rgba(255, 207, 0, 0.15); //!
        // background: #a1b1db;
        // opacity: 0.3;
        border-radius: 8px;
        color: #988B49;
        font-size: 16px;
        line-height: 16px;
        border: 1px solid #FFCF00; //!
        margin: 10px 8px 0 0;
        cursor: pointer;
    }
}



.addiditional {
    width: 723px;
    height: 44px;
    border-bottom: 1px solid rgba(58, 69, 98, 0.13)
}

.attached {
    margin-top: 87px;
    width: 723px;
    height: 44px;
    border-bottom: 1px solid rgba(58, 69, 98, 0.13)
}

.return__board {
    width: 213px;
    height: 50px;
    background: rgba(56, 69, 100, 0.14); //!
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    border: none;
    cursor: pointer;
    color: #3A4562;



    &::before {
        content: url('/assets/Icons/arrow-back.svg'); //? не могу выровнять!!!
        // padding: 16px 19px 16px 23px;
        display: inline-block;
        vertical-align: middle;
    }
}


.contact {
    width: 402px;
    height: 436px;
    border: 1px solid blue;
    margin-left: 134px;
    // display: flex;
    // flex-direction: column;
    // flex-grow: 2;

    .contact__job {
        border-bottom: 1px solid red;
        height: 50%; //!
        background-color: #2A3047;
        position: relative;
        z-index: 1;

        .contact__info {
            width: 50%;
            height: 100%;
            border-radius: 0 112px 111px 0;
            background-color: #202336;
        }

        p {
            color: red;
        }
    }
}