/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import '../node_modules/scss-reset/_reset.scss';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
    font-family: "ProximaNova-Regular";
    src: local("Proxima"), url(./assets/fonts/ProximaNova-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: local("Proxima"), url(./assets/fonts/ProximaNova-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: local("Proxima"), url(./assets/fonts/ProximaNova-Semibold.ttf) format("truetype");
}



.pagination {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08),
        0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
    font-size: 26px;

    .page-item:first-child {
        position: relative;
        padding: 0;

        .page-link {
            background-image: url('./assets/icons/arrow-left.svg');
            background-repeat: no-repeat;
            padding: 0px 56px 18px 23px;
            display: block;
            margin-left: 26px;
        }

        span {
            display: none;
        }
    }

    .page-item:first-child::after {
        content: url('/assets/icons/pagination-border.svg');
        position: absolute;
        left: 68px;
        top: -7px;
    }

    .page-item:last-child {
        position: relative;
        padding: 0;

        .page-link {
            background-image: url('./assets/icons/arrow-right.svg');
            background-repeat: no-repeat;
            padding: 10px 0px 10px 18px;
            display: block;
            margin: 0 26px 0 56px;
        }

        span {
            display: none;
        }
    }

    .page-item:last-child::before {
        content: url('/assets/icons/pagination-border.svg');
        position: absolute;
        right: 68px;
        top: -7px;
    }

    .visually-hidden {
        display: none;
    }

    .page-item {
        text-decoration: none;
        padding: 12px 14px 9px;

        &.active {
            position: relative;

            .page-link {
                color: #5876c5;
            }
        }

        &.active::after {
            content: '';
            position: absolute;
            background-color: #5876c5;
            width: 31px;
            height: 2px;
            bottom: 0;
            left: 4px;
        }

        .page-link {
            color: #70778B;
            text-decoration: none;
            font-size: 21px;
            line-height: 25px;
            letter-spacing: 1.73333px;
            font-family: "ProximaNova-Bold";
        }
    }
}

@media(max-width:767px) {}