/* You can add global styles to this file, and also import other style files */
@import '../node_modules/scss-reset/_reset.scss';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
    font-family: "ProximaNova-Regular";
    src: local("Proxima"), url(./assets/fonts/ProximaNova-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: local("Proxima"), url(./assets/fonts/ProximaNova-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: local("Proxima"), url(./assets/fonts/ProximaNova-Semibold.ttf) format("truetype");
}



// .pagination {
//     display: flex;
//     align-items: baseline;
//     border-radius: 10px;
//     background: #fff;
//     box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08),
//         0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);

//     .page-item:nth-child(2) {
//         padding-left: 55px;
//     }

//     .page-item:nth-last-of-type(2) {
//         padding-right: 55px;
//     }

//     .pagination-prev {
//         padding: 17px 0 17px 23px;

//         .page-link {
//             border-right: 1.3px solid #dee3ef;
//             padding-right: 31px;
//         }
//     }

//     .pagination-next {
//         padding: 17px 23px 17px 0;

//         .page-link {
//             border-left: 1.3px solid #dee3ef;
//             padding-left: 26px;
//         }
//     }

//     .pagination-page {
//         text-decoration: none;
//         padding: 12px 8px 9px;

//         &.active {
//             .page-link {
//                 border-bottom: 2.6px solid #5876c5;
//                 padding-bottom: 13px;
//                 color: #5876c5;
//             }
//         }

//         .page-link {
//             color: #70778B;
//             text-decoration: none;
//             font-size: 21px;
//             line-height: 25px;
//             letter-spacing: 1.73333px;
//             font-family: "ProximaNova-Bold";

//         }


//     }



// }